.landing-main-title {
    font-size: 40px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 50vw;
  }

.landing-body {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  overscroll-behavior: none;
  text-align: justify;
}

.landing-buttons {
    display: flex;
    padding: 20px;
    padding-top: 0px;
}

.landing-nav-button {
    padding-right: 10px;
    padding-left: 10px;
}